body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00ffff;
  flex-direction: column;
  height: 100vh;
  gap: 30px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: white;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: brown;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
